body{
    box-sizing: border-box;
    font-family: 'Poppins';
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(156deg, rgb(0, 0, 0) 0%, rgba(23,23,75,1) 47%, rgba(0,0,0,1) 100%);
}