ul{
    list-style-type: none;
    margin-top: 50px;
}
.nav-item{
    margin-right: 100px;
    float: left;
}
a{
    color: #ffffff;
}
.nav-link{
    text-decoration: none;
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 12px;
}
.nav-link:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: linear-gradient(156deg, rgba(229,61,254,1) 0%, rgb(177, 10, 41) 100%);
}